@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./custom-base-styles.css";
@import "./custom-components.css";

@layer components {
	.spinny-thing {
		position: relative;
		width: var(--spinny);
		height: var(--spinny);
		border-radius: 50%;
		background: linear-gradient(45deg, transparent, transparent 40%, #ee55ff);
		animation: spinny 1.5s linear infinite;
	}
	.spinny-thing::before {
		content: "";
		position: absolute;
		top: calc(var(--spinny) / 30);
		left: calc(var(--spinny) / 30);
		right: calc(var(--spinny) / 30);
		bottom: calc(var(--spinny) / 30);
		z-index: 100;
		border-radius: 50%;
	}
	.spinny-thing::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: linear-gradient(45deg, transparent, transparent 40%, #ee55ff);
		border-radius: 50%;
		filter: blur(10px);
	}
	.hoverindicator {
		position: absolute;
		width: 2.5rem;
		inset: 50% auto auto 50%;
		transform: translate(-50%, -50%);
		background: #e4ecfa;
		opacity: 0;
		border-radius: 0.5rem;
		height: 0.25rem;
		inset: auto auto -0.25rem 50%;
		transition:
			inset 300ms ease,
			opacity 300ms ease;
	}
	.searchbox {
		position: absolute;
		inset: 1rem;

		border-radius: 1rem;
		opacity: 0;
		transition:
			inset 300ms ease,
			padding 300ms ease,
			color 100ms ease,
			opacity 300ms ease;
		-webkit-appearance: none;
		appearance: none; /* Add the appearance property */
		border: none;
		padding: 0 1rem 0 1rem;
		font-size: 1rem;
		color: transparent;
	}

	.button_collection {
		@apply min-w-40 rounded-xl border border-solid border-[white] px-5 py-3 pb-4 text-center text-white hover:shadow-lg;
	}
	.button_collection::after {
		@apply absolute inset-1 z-10 block rounded-3xl bg-transparent ease-in after:content-[''];
	}
	.title-h2 {
		@apply border-b-2 pb-4 text-center font-gilroy text-4xl font-semibold  text-slate-600;
	}
	.our-collections-item {
		@apply relative mx-auto h-full w-full overflow-hidden;
	}
	.collection-common-styles {
		@apply relative z-0 h-auto w-full transition-all duration-500 hover:scale-110;
	}
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
	--spinny: 5rem;
	--activeclr: #e4ecfa;
	--elevation-card-rest: 0px 0px 0px 1px rgba(3, 7, 18, 0.08),
		0px 1px 2px -1px rgba(3, 7, 18, 0.08), 0px 2px 4px 0px rgba(3, 7, 18, 0.04);
	--tw-shadoww: 0px 0px 0px 1px rgba(3, 7, 18, 0.08),
		0px 1px 2px -1px rgba(3, 7, 18, 0.08), 0px 2px 4px 0px rgba(3, 7, 18, 0.04);
	--tw-shadow-colored: var(--elevation-card-rest);
	--elevation-card-hover: 0px 0px 0px 1px rgba(3, 7, 18, 0.08),
		0px 1px 2px -1px rgba(3, 7, 18, 0.08), 0px 2px 8px 0px rgba(3, 7, 18, 0.1);
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
